section.gioithieu-2
    .container
        .row
            .col-md-4.item
                figure
                    .icon
                        img(src="./img/gioithieu/icon-1.png", alt="")
                    figcaption
                        h5 Sứ mệnh
                        p Nơi ươm mầm và chấp cánh cho những ước mơ trẻ thơ bằng các phương pháp sư phạm mầm non tiến tiến nhất, giúp trẻ phát triển toàn diện cả thể chất lẫn tinh thần, đảm bảo điều kiện tốt nhất cho trẻ khi bước vào bậc tiểu học.
            .col-md-4.item
                figure
                    .icon
                        img(src="./img/gioithieu/icon-2.png", alt="")
                    figcaption
                        h5 Sứ mệnh
                        p Nơi ươm mầm và chấp cánh cho những ước mơ trẻ thơ bằng các phương pháp sư phạm mầm non tiến tiến nhất, giúp trẻ phát triển toàn diện cả thể chất lẫn tinh thần, đảm bảo điều kiện tốt nhất cho trẻ khi bước vào bậc tiểu học.
            .col-md-4.item
                figure
                    .icon
                        img(src="./img/gioithieu/icon-3.png", alt="")
                    figcaption
                        h5 Sứ mệnh
                        p Nơi ươm mầm và chấp cánh cho những ước mơ trẻ thơ bằng các phương pháp sư phạm mầm non tiến tiến nhất, giúp trẻ phát triển toàn diện cả thể chất lẫn tinh thần, đảm bảo điều kiện tốt nhất cho trẻ khi bước vào bậc tiểu học.