section.home-1
    .container
        .wrapper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .item
                            .time
                                h5 06
                                p 07 - 2019
                            .info
                                .image
                                    img(src="./img/home/item-1.jpg", alt="")
                                .text
                                    p Tham quan dã ngoại Thảo Cầm Viên
                    .swiper-slide
                        .item
                            .time
                                h5 06
                                p 07 - 2019
                            .info
                                .image
                                    img(src="./img/home/item-1.jpg", alt="")
                                .text
                                    p Tham quan dã ngoại Thảo Cầm Viên
                    .swiper-slide
                        .item
                            .time
                                h5 06
                                p 07 - 2019
                            .info
                                .image
                                    img(src="./img/home/item-1.jpg", alt="")
                                .text
                                    p Tham quan dã ngoại Thảo Cầm Viên