.schedule.bluesky-section
    .container
        h1.main-title Học sinh
        .row
            .news-list
                a.active(href="news-school.html") Tổng quan
                a(href="thanhtichhocsinh.html") Thành tích học sinh
                a(href="studentstory.html") Câu chuyện học sinh
                a(href="thoikhoabieu.html") Thời khóa biểu