.progress.bluesky-section
	.container
		h1.main-title Giáo viên
		.news-list
			a.active(href="giaovien.html") Tổng quan
			a(href="assembly.html") Hội đồng chuyên môn
			a(href="progress.html") Phát triển chuyên môn
			a(href="tuyendung.html") Tuyển dụng
		.sub-title
			h2 Phát triển chuyên môn
			p Nhằm nâng cao khả năng chuyên môn, nghiệp vụ cho giáo viên đồng thời cập nhật những phương pháp giáo dục tiên tiến nhất, Blue Sky thường xuyên tổ chức những chương trình huấn luyện, bồi dưỡng nghiệp vụ đồng thời tổ chức những cuộc thi giáo viên dạy giỏi, giáo viên chủ nhiệm giỏi, giáo viên tài năng sáng tạo…để giáo viên có cơ hội cọ xát, nâng cao tay nghề và phục vụ tốt nhất cho công tác giảng dạy.
		.slide
			.row
				.col-lg-10.main-slide
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
					.swiper-nav
						.swiper-btn.swiper-left
							img(src="/Data/Sites/1/media/left.png", alt="")
						.swiper-btn.swiper-right
							img(src="/Data/Sites/1/media/right.png", alt="")