.lienhe
    position: relative
    &:before
        content: ''
        height: 50px
        width: 100%
        background: url('height: 125px-3.png')
        background-size: cover
        background-position: center center
        position: absolute
        top: 100%
        left: 0
        @media(min-width: 768px)
            height: 125px
    .dealer
        .item
            margin-bottom: 20px
            .title
                cursor: pointer
                display: flex
                user-select: none
                align-items: center
                .ic
                    display: inline-block
                    position: relative
                    em
                        color: #fff
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        font-size: 13px
                .name
                    margin-left: 15px
                    h5
                        font-size: 16px
                        color: #666666
                        transiton: .4s ease-in-out all
                        @media(min-width: 1025px)
                            font-size: 20px
                &:after
                    content: '\f140'
                    margin-left: 15px
                    color: #666666
                    font: normal normal normal 24px/1 Material Design Icons
            &.active
                .title
                    &:after
                        transform: rotate(180deg)
                    .name
                        h5
                            color: #333
            .content
                margin-top: -105px
                opacity: 0
                padding-top: 10px
                padding-left: 45px
                pointer-events: none
                p
                    margin-bottom: 5px
                    font-size: 14px
                    em
                        width: 20px
                        display: inline-block
                        color: #0096d7
                    b
                        font-weight: 700
                    a
                        color: #0096d7
                        text-decoration: underline
                &.active
                    margin-top: 0
                    opacity: 1
                    transition: .5s ease-in-out all
                    pointer-events: initial
    .map
        height: 100%
        iframe
            height: 300px
            @media(min-width: 1025px)
                height: 100%
.lienhe-form
    background: #d5f1fc
    padding: 85px 0 40px
    @media(min-width: 768px)
        padding: 185px 0 80px