.lienhe.bluesky-section
    .container
        h2.main-title Liên hệ
        .row
            .col-lg-5
                .dealer
                    .item.active(data-map='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1683051288696!2d106.74936161533438!3d10.798418361738875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525dff1aeeb61%3A0x90ecc4ecbb02d1b5!2zNjcgxJDGsOG7nW5nIE1haSBDaMOtIFRo4buNLCBBbiBQaMO6LCBRdeG6rW4gMiwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1560322884579!5m2!1sen!2s')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
                    .item(data-map='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846')
                        .title
                            .ic
                                img(src="./img/lienhe/location-1.png", alt="")
                                em.mdi.mdi-home
                            .name
                                h5 Lexington - Quận 2
                        .content
                            p
                                em.mdi.mdi-map-marker
                                b Địa chỉ: 
                                | Mai Chí Thọ, Phường An Phú, Quận 2, TPHCM
                            p
                                em.mdi.mdi-phone
                                b Điện thoại: 
                                | 028.2237 5577
                            p
                                em.mdi.mdi-email
                                b Email: 
                                a(href="javascript:void(0)") bluesky.lexingtonresidence@mamnonbautroixanh.vn
                            p
                                em.fab.fa-facebook-f
                                b Fanpage: 
                                a(href="javascript:void(0)") https://www.facebook.com/BlueSky.lexington
            .col-lg-7
                .map
                    iframe(src="" width="100%" frameborder="0" style="border:0" allowfullscreen)
.lienhe-form
    .container
        .sub-title
            h2 Liên hệ với chúng tôi