.chinhsachtaichinh.bluesky-section
	.container
		h1.main-title Chính sách tài chính
		.row
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
			.col-sm-6.col-lg-4
				.FullContent
					h2
						a(href="") Học phí chương trình cambridge quốc tế toàn phần năm học 2019 - 2020
					.more-info
						p Xem ngay
						p Tải xuống
