.image-gallery.bluesky-section
	.container
		h1.main-title Tin tức
		.row
			.news-list
				a.active(href="news-school.html") Tin nhà trường
				a(href="news-image.html") Thư viện ảnh
				a(href="news-video.html") Thư viện video
		.row
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-img
					figure
						.boximg
							a(href="./img/news/anh/item-1.jpg" data-fancybox="gallery" fancybox-gallery="")
								img(src="./img/news/anh/item-1.jpg", alt="")
						figcaption
							h2 Album 1