.student-story.bluesky-section
	.container
		h1.main-title Học sinh
		.row
			.news-list
				a.active(href="hocsinh.html") Tổng quan
				a(href="thanhtichhocsinh.html") Thành tích học sinh
				a(href="studentstory.html") Câu chuyện học sinh
				a(href="thoikhoabieu.html") Thời khóa biểu
		.row
			.sub-title
				h2 Thành tích học sinh
				p Danh sách những thành tích quý báu mà những học sinh tại Blue Sky đã nỗ lực hết mình cùng với niềm đam mê để đạt được!
		.row
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân
			.col-md-6.col-lg-4
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						img.quote-icon(src="./img/home/icon-quote.png", alt="")
						p Mỗi ngày đi học con đều rất vui. Con được chơi cùng các bạn. Được học rất nhiều điều hay. Ở trường con được ăn ngon, được đi dã ngoại nữa. Cô giáo của con rất hiền, cô rất thương chúng con. Cô dạy cho con học chữ, dạy con làm bánh, nhặt rau. Ở nhà con sẽ nhặt rau giúp mẹ.
						img.bottom-line(src="./img/hocsinh/kidstory/bottom-line.png", alt="")
						h3 Bé Hoàng Gia Hân