section.home-6.bluesky-section
    .container
        h2.main-title Câu chuyện của chúng tôi
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .item
                        .image
                            img(src="./img/home/2.png", alt="")
                        .quote
                            img(src="./img/home/icon-quote.png", alt="")
                        .desc
                            p Trong hơn 3 tháng, tôi thấy rằng Bảo Linh tự tin hơn. Trước đây bé khá nhút nhát, không trao đổi nhiều, không nói tiếng Anh nhiều nhưng sau 3 tháng thì bé chủ động nói tiếng Anh nhiều hơn, tự giác học và tự lập trong những sinh hoạt hằng ngày.ưng sau 3 tháng thì bé chủ động nói tiếng Anh nhiều hơn, tự giác học và tự lập trong những sinh hoạt hằng ngày.
                        .name
                            h5 Chị Trần Nguyễn Phương Nhung
                .swiper-slide
                    .item
                        .image
                            img(src="./img/home/2.png", alt="")
                        .quote
                            img(src="./img/home/icon-quote.png", alt="")
                        .desc
                            p Trong hơn 3 tháng, tôi thấy rằng Bảo Linh tự tin hơn. Trước đây bé khá nhút nhát, không trao đổi nhiều, không nói tiếng Anh nhiều nhưng sau 3 tháng thì bé chủ động nói tiếng Anh nhiều hơn, tự giác học và tự lập trong những sinh hoạt hằng ngày.
                        .name
                            h5 Chị Trần Nguyễn Phương Nhung
                .swiper-slide
                    .item
                        .image
                            img(src="./img/home/2.png", alt="")
                        .quote
                            img(src="./img/home/icon-quote.png", alt="")
                        .desc
                            p Trong hơn 3 tháng, tôi thấy rằng Bảo Linh tự tin hơn. Trước đây bé khá nhút nhát, không trao đổi nhiều, không nói tiếng Anh nhiều nhưng sau 3 tháng thì bé chủ động nói tiếng Anh nhiều hơn, tự giác học và tự lập trong những sinh hoạt hằng ngày.
                        .name
                            h5 Chị Trần Nguyễn Phương Nhung
                .swiper-slide
                    .item
                        .image
                            img(src="./img/home/2.png", alt="")
                        .quote
                            img(src="./img/home/icon-quote.png", alt="")
                        .desc
                            p Trong hơn 3 tháng, tôi thấy rằng Bảo Linh tự tin hơn. Trước đây bé khá nhút nhát, không trao đổi nhiều, không nói tiếng Anh nhiều nhưng sau 3 tháng thì bé chủ động nói tiếng Anh nhiều hơn, tự giác học và tự lập trong những sinh hoạt hằng ngày.
                        .name
                            h5 Chị Trần Nguyễn Phương Nhung
            .swiper-pagination