.news-detail.bluesky-section
    .container
        .row
            .col-lg-8
                .heading
                    h2 6 cách ăn uống khiến trẻ còi cọc, ốm yếu vào mùa hè
                    date.mdi.mdi-calendar-range 19.02.2019
                .fullContent
                .SocialShare
        .row
            .col
                .otherNews
                    .sub-title
                        h3 Tin liên quan
                    .newsList
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                                .swiper-slide
                                    a(href="javascript:void(0)")
                                        figure
                                            .image
                                                img(src="./img/news/tintuctruong/item-1.jpg", alt="")
                                            figcaption
                                                h4 Công tác Y tế tại trường mầm non
                                                date.mdi.mdi-calendar-range 19.02.2019
                        .swiper-nav
                            .swiper-btn.swiper-left
                                img(src="/Data/Sites/1/media/left.png", alt="")
                            .swiper-btn.swiper-right
                                img(src="/Data/Sites/1/media/right.png", alt="")