section.gioithieu-6.bluesky-section(bg-img='./img/gioithieu/bg-2.png')
    .container
        .row
            .col-md-10
                .text
                    p Hệ thống trường Mầm Non Song ngữ Bầu Trời Xanh Blue Sky Kindergarten sẽ luôn là nơi mà các bậc phụ huynh yên tâm gửi gắm bé yêu của mình cũng như là nơi đem đến sự giáo dục toàn diện cho bé yêu để các bé có sự phát triển về mọi mặt, có bước chuẩn bị vững vàng nhất trước khi bước vào ngưỡng cửa lớp 1.
                .image
                    img(src="./img/gioithieu/1.png", alt="")