.video-gallery.bluesky-section
	.container
		h1.main-title Tin tức
		.row
			.news-list
				a.active(href="news-school.html") Tin nhà trường
				a(href="news-image.html") Thư viện ảnh
				a(href="news-video.html") Thư viện video
		.row
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 Album 1
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 album 1
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 album 1
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 album 1
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 album 1
			.col-sm-6.col-lg-4
				.gallery-video
					a(href="https://www.youtube.com/watch?v=tPJEZmqqF_s" data-fancybox)
						figure
							.boximg
								img(src="./img/news/anh/item-1.jpg", alt="")
								.play-btn
									img(src="./img/home/play-btn.png", alt="")
							figcaption
								h2 album 1