.news-school.bluesky-section
	.container
		h1.main-title Tin tức
		.row
			.news-list
				a.active(href="news-school.html") Tin nhà trường
				a(href="news-image.html") Thư viện ảnh
				a(href="news-video.html") Thư viện video
		.row
			.col-lg-6
				.news-item
					figure
						.boximg
							a(href="news-school-detail.html")
								img(src="./img/news/tintuctruong/item-1.jpg", alt="")
						figcaption
							h2
								a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
							date 19.02.2019
			.col-lg-6
				.row
					.col-lg-6
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									date 19.02.2019
					.col-lg-6
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									date 19.02.2019
					.col-lg-6
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									date 19.02.2019
					.col-lg-6
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									date 19.02.2019
.student-active.bluesky-section
	.container
		.heading-line
			h2 Hoạt động học sinh
		.news-slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
				.swiper-buttons
					.btn-prev
						em.mdi.mdi-chevron-left
					.btn-next
						em.mdi.mdi-chevron-right
.parents-active.bluesky-section
	.container
		.heading-line
			h2 Hoạt động học sinh
		.news-slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
				.swiper-buttons
					.btn-prev
						em.mdi.mdi-chevron-left
					.btn-next
						em.mdi.mdi-chevron-right
.other-news.bluesky-section
	.container
		.heading-line
			h2 Hoạt động học sinh
		.news-slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
					.swiper-slide
						.news-item
							figure
								.boximg
									a(href="javascript:void(0)")
										img(src="./img/news/tintuctruong/item-1.jpg", alt="")
								figcaption
									h2
										a(href="javascript:void(0)") Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, laborum quo. Vitae, non rem explicabo officia consectetur earum quibusdam dolorem fugit aliquid nulla. Inventore praesentium sunt quae maxime animi molestiae?
									date 19.02.2019
				.swiper-buttons
					.btn-prev
						em.mdi.mdi-chevron-left
					.btn-next
						em.mdi.mdi-chevron-right