.news-school.bluesky-section
	.container
		h1.main-title Tin tức
		.row
			.news-list
				a.active(href="news-school.html") Tin nhà trường
				a(href="news-image.html") Thư viện ảnh
				a(href="news-video.html") Thư viện video
		.row
			.col-lg-6
				
			.col-lg-6