.dangnhap.bluesky-section
    .container
        h1.main-title Đăng nhập
        .row.teacher
            h2 Giáo viên
            .news-list
                a.active(href="javascript:void(0)") Email
                a(href="javascript:void(0)") Shared drive
                a(href="javascript:void(0)") Sharepoint
            .register-form
                .row
                    .col-lg-6
                        .boximg
                            img(src="./img/logo-login.png", alt="")
                    .col-lg-6
                        .form-group
                            label Email
                            input(type="text")
                        .form-group
                            label Mật khẩu
                            input(type="text")
                        .forget
                            a(href="") Quên mật khẩu
                        .register
                            a(href="") Đăng nhập
        .row.staff
            h2 Nhân viên
            .news-list
                a.active(href="javascript:void(0)") Email
                a(href="javascript:void(0)") Shared drive
                a(href="javascript:void(0)") Sharepoint
            .register-form
                .row
                    .col-lg-6
                        .boximg
                            img(src="./img/logo-login.png", alt="")
                    .col-lg-6
                        .form-group
                            label Email
                            input(type="text")
                        .form-group
                            label Mật khẩu
                            input(type="text")
                        .forget
                            a(href="") Quên mật khẩu
                        .register
                            a(href="") Đăng nhập
        .row.other-register
            h2 Đăng nhập khác
            .news-list
                a.active(href="javascript:void(0)") Email
                a(href="javascript:void(0)") Shared drive
                a(href="javascript:void(0)") Sharepoint
            .register-form
                .row
                    .col-lg-6
                        .boximg
                            img(src="./img/logo-login.png", alt="")
                    .col-lg-6
                        .form-group
                            label Email
                            input(type="text")
                        .form-group
                            label Mật khẩu
                            input(type="text")
                        .forget
                            a(href="") Quên mật khẩu
                        .register
                            a(href="") Đăng nhập