.dangnhap.bluesky-section
    .container
        h2.main-title  Đăng nhập
        .main-wrapper
            .row
                .col-md-4.item
                    figure.gv
                        .ic
                            img(src="./img/login/1.png", alt="")
                        figcaption
                            h5 Giáo viên
                            a(href="javascript:void(0)") Đăng nhập
                .col-md-4.item
                    figure.nv
                        .ic
                            img(src="./img/login/2.png", alt="")
                        figcaption
                            h5 Nhân viên
                            a(href="javascript:void(0)") Đăng nhập
                .col-md-4.item
                    figure.khac
                        .ic
                            img(src="./img/login/3.png", alt="")
                        figcaption
                            h5 Đăng nhập khác
                            a(href="javascript:void(0)") Đăng nhập