.dangnhap
    .sub-title
    .item
        margin-bottom: 10px
        figure
            box-shadow: 6px 6px 0 0 rgba(0,0,0,.1)
            height: 100%
            padding: 20px
            transition: .4s ease-in-out all
            border-radius: 10px
            text-align: center
            @media(min-width: 1025px)
                padding: 50px
            &.gv
                background: #e7f6fc
            &.nv
                background: #e6f3e8
                figcaption
                    a
                        background: #ea148c
            &.khac
                background: #fbf0b1
            figcaption
                padding-top: 10px
                h5
                    font-size: 24px
                    font-weight: 700
                a
                    margin-top: 20px
                    padding: 10px
                    width: 100%
                    max-width: 220px
                    background: #0096d7
                    border-radius: 10px
                    color: #fff
                    display: inline-block
            &:hover
                transform: translateY(-20px)