.recruitment.bluesky-section
	.container
		h1.main-title Tuyển dụng
		.row
			.col-lg-6
				.staff-recruit
					h2 Tuyển dụng Nhân viên
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
			.col-lg-6
				.teacher-recruit
					h2 Tuyển dụng Nhân viên
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
					.jobs-select
						figure
							.boximg
								a(href="tuyendung-detail.html")
									img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
							figcaption
								h3 Nhân viên hành chính
								.subtitle
									strong Nơi làm việc: 
									| Cơ Sở Belleza - Quận 7
								.startdate
									strong Ngày bắt đầu: 
									| 15/04/2019
								.enddate
									strong Ngày bắt đầu: 
									| 30/05/2019
.workplace.bluesky-section
	.container
		.sub-title
			h2 Môi trường làm việc
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur consequatur recusandae ullam ex error nihil sed, saepe, esse sapiente velit accusamus! Eum hic laboriosam nam corrupti asperiores minima reiciendis.
		.row
			.col-lg-10
				.slide
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
							.swiper-slide
								img(src="./img/gioithieu/slider-3.png", alt="")
					.swiper-nav
						.swiper-btn.swiper-left
							img(src="/Data/Sites/1/media/left.png", alt="")
						.swiper-btn.swiper-right
							img(src="/Data/Sites/1/media/right.png", alt="")
.chedodaingo.bluesky-section
	.container
		.sub-title
			h2 Chế độ đãi ngộ
		.list-item
			.row
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-1.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-2.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-3.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-4.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-5.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên
				.col-lg-4.col-sm-6.item
					figure
						.icon
							img(src="./img/tuyendung/mode-6.png", alt="")
						figcaption
							h5 Lương bổng
							p Chính sách lương cạnh tranh với thị trường, đảm bảo thu nhập tốt cho nhân viên