.home-4.bluesky-section
    .container
        h2.main-title Hoạt động nhà trường
        .main-wrap
            .main-nav
                .item(data-tab='1').active Hoạt động học sinh
                .item(data-tab='2') Góc phụ huynh
                .item(data-tab='3') Truyền thông
                .item(data-tab='4') Sự kiện
            .main-content
                .content-item(data-content='1').active
                    .row
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho 
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự 
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                    .viewMore
                        a(href="javascript:void(0)") Xem thêm
                .content-item(data-content='2')
                    .row
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho 
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự 
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                    .viewMore
                        a(href="javascript:void(0)") Xem thêm
                .content-item(data-content='3')
                    .row
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho 
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự 
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                    .viewMore
                        a(href="javascript:void(0)") Xem thêm
                .content-item(data-content='4')
                    .row
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho 
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự 
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                        .col-sm-6.col-lg-3.item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/school-active-1.jpg", alt="")
                                    figcaption
                                        .text
                                            h4 Lợi ích khi cho trẻ học tiếng Anh từ nhỏ
                                            p Từ những hoạt động vui chơi cùng tiếng Anh, các em sẽ tự mình tìm tòi và tham gia cùng bạn bè trang lứa. Tiếp cận với ngoại ngữ khi còn nhỏ tuổi là cách giúp trẻ dễ dàng...
                                        .time 
                                            em.fas.fa-calendar-alt
                                            time 19.02.2019
                    .viewMore
                        a(href="javascript:void(0)") Xem thêm