section.gioithieu-3.bluesky-section
    .container
        .sub-title
            h3 Ban giảng huấn
        .main-wrap
            .row
                .col-md-4.item
                    a(href="javascript:void(0)")
                        figure(bg-img='./img/gioithieu/block-1.png')
                            .image
                                img(src="./img/gioithieu/lesson.jpg", alt="")
                            figcaption
                                p Ban giám hiệu xuất thân từ các trường điểm tại Tp. Hồ Chí Minh
                .col-md-4.item
                    a(href="javascript:void(0)")
                        figure(bg-img='./img/gioithieu/block-2.png')
                            .image
                                img(src="./img/gioithieu/lesson.jpg", alt="")
                            figcaption
                                p Ban giám hiệu xuất thân từ các trường điểm tại Tp. Hồ Chí Minh
                .col-md-4.item
                    a(href="javascript:void(0)")
                        figure(bg-img='./img/gioithieu/block-3.png')
                            .image
                                img(src="./img/gioithieu/lesson.jpg", alt="")
                            figcaption
                                p Ban giám hiệu xuất thân từ các trường điểm tại Tp. Hồ Chí Minh