<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <templatelist xsltname="HS-TongQuan.xslt" name="Học Sinh tổng quan"></templatelist>
  <templatelist xsltname="HS-ThanhTichHocSinh.xslt" name="Thành tích học sinh"></templatelist>
  <templatelist xsltname="HS-CauChuyenHocSinh.xslt" name="Câu chuyện học sinh"></templatelist>
  <templatelist xsltname="HS-ThoiKhoaBieu.xslt" name="Thời khóa biểu"></templatelist>
  <templatelist xsltname="GV-TongQuan.xslt" name="Giáo viên tổng quan"></templatelist>
  <templatelist xsltname="GV-HoiDongChuyenMon.xslt" name="Hội đồng chuyên môn"></templatelist>
  <templatelist xsltname="GV-PhatTrienChuyenMon.xslt" name="Phát triển chuyên môn"></templatelist>
  <templatelist xsltname="ChinhSachTaiChinh.xslt" name="Chính sách tài chính"></templatelist>
  <templatelist xsltname="TinNhaTruongTrong.xslt" name="Tin Nhà Trường trong"></templatelist>
  <templatelist xsltname="ThuVienAnh.xslt" name="Thư viện ảnh"></templatelist>
  <templatelist xsltname="ThuVienVideo.xslt" name="Thư viện video"></templatelist>

  <templatedetail xsltname="TinTucCT.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="TuyenDungCT.xslt" name="Chi tiết tuyển dụng"></templatedetail>

  <position>
    <add name="Tin nhà trường đặc biệt" value="1" resourcefile="" />
    <add name="Tin trang chủ" value="2" resourcefile="" />
  </position>
</templates>