.assembly.bluesky-section
	.container
		h1.main-title Giáo viên
		.row
			.news-list
				a.active(href="giaovien.html") Tổng quan
				a(href="assembly.html") Hội đồng chuyên môn
				a(href="progress.html") Phát triển chuyên môn
				a(href="tuyendung.html") Tuyển dụng
		.row
			.sub-title
				h2 Hội đồng chuyên môn
		.row.hoidong
			.col-lg-6
				figure
					.boximg
						img(src="./img/giaovien/hoidong/item-1.jpg", alt="")
					figcaption
						h3 Ms Nguyễn Thị Thanh Nga
						h4 School Principal
						p Director, Academic Division (MOET & Cambridge)
						p Bachelor degree in Secondary Education
						p Post graduate certificate in Educational Leadership & Management
						p Master degree in Business Administration
						p Bachelor degree in Finance & Accounting
						p Over 18 years of management and operational experience in education sector
						p with bi-lingual, international schools / companies
			.col-lg-6
				figure
					.boximg
						img(src="./img/giaovien/hoidong/item-1.jpg", alt="")
					figcaption
						h3 Ms Nguyễn Thị Thanh Nga
						h4 School Principal
						p Director, Academic Division (MOET & Cambridge)
						p Bachelor degree in Secondary Education
						p Post graduate certificate in Educational Leadership & Management
						p Master degree in Business Administration
						p Bachelor degree in Finance & Accounting
						p Over 18 years of management and operational experience in education sector
						p with bi-lingual, international schools / companies
			.col-lg-6
				figure
					.boximg
						img(src="./img/giaovien/hoidong/item-1.jpg", alt="")
					figcaption
						h3 Ms Nguyễn Thị Thanh Nga
						h4 School Principal
						p Director, Academic Division (MOET & Cambridge)
						p Bachelor degree in Secondary Education
						p Post graduate certificate in Educational Leadership & Management
						p Master degree in Business Administration
						p Bachelor degree in Finance & Accounting
						p Over 18 years of management and operational experience in education sector
						p with bi-lingual, international schools / companies
			.col-lg-6
				figure
					.boximg
						img(src="./img/giaovien/hoidong/item-1.jpg", alt="")
					figcaption
						h3 Ms Nguyễn Thị Thanh Nga
						h4 School Principal
						p Director, Academic Division (MOET & Cambridge)
						p Bachelor degree in Secondary Education
						p Post graduate certificate in Educational Leadership & Management
						p Master degree in Business Administration
						p Bachelor degree in Finance & Accounting
						p Over 18 years of management and operational experience in education sector
						p with bi-lingual, international schools / companies

