section.breadcrumb-section
    .image
        img(src="./img/breadcrumb.png", alt="")
    .main-breadcrumb
        .container
            ol.breadcrumb
                li 
                    a(href="javascript:void(0)").itemcrumb Trang chủ
                li 
                    a(href="javascript:void(0)").itemcrumb.active Giới thiệu