section.home-3
    .container
        .wrapper.bluesky-section
            h2.main-title Trường mầm non Song ngữ Bầu Trời Xanh 
            .main-wrap
                .left-wrap.text-wrap
                    .item
                        .ic
                            img(src="./img/home/icon-1.png", alt="")
                        .text
                            p Chương trình hợp tác với Fieldwork Education Tập đoàn giáo dục Anh Quốc
                    .item
                        .ic
                            img(src="./img/home/icon-2.png", alt="")
                        .text
                            p Tiếng Anh cùng giáo viên bản ngữ
                    .item
                        .ic
                            img(src="./img/home/icon-3.png", alt="")
                        .text
                            p Lý do Phụ huynh chọn Blue Sky
                .middle-wrap
                    img(src="./img/home/item-8.jpg", alt="")
                .right-wrap.text-wrap
                    .item
                        .ic
                            img(src="./img/home/icon-4.png", alt="")
                        .text
                            p Blue Sky đồng hành cùng các phụ huynh
                    .item
                        .ic
                            img(src="./img/home/icon-5.png", alt="")
                        .text
                            p Chương trình giảng dạy được áp dụng tại Blue Sky
                    .item
                        .ic
                            img(src="./img/home/icon-6.png", alt="")
                        .text
                            p Tại sao phải chọn một chương trình đào tạo chuẩn mực