extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
<<<<<<< HEAD
	include ../components/about/index.pug
=======
	include ../components/about/index.pug
>>>>>>> ac510eef9fb5b19d08b60f5ca2813ffdc67b8ad2
