extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/chuongtrinhhoc/c-1/index.pug
	include ../components/chuongtrinhhoc/c-2/index.pug
	include ../components/chuongtrinhhoc/c-3/index.pug
	include ../components/chuongtrinhhoc/c-4/index.pug
