extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/breadcrumb/index.pug
	include ../components/gioithieu/g-1/index.pug
	include ../components/gioithieu/g-2/index.pug
	include ../components/gioithieu/g-3/index.pug
	include ../components/gioithieu/g-4/index.pug
	include ../components/gioithieu/g-5/index.pug
	include ../components/gioithieu/g-6/index.pug
