section.gioithieu-4.bluesky-section
    .container
        .sub-title
            h2 Cơ sở vật chất
        .main-nav
            .item(data-tab='1').active Phòng học
            .item(data-tab='2') Phòng ăn
            .item(data-tab='3') Khu vui chơi
        .row
            .col-lg-10
                .main-content
                    .content-item(data-content='1').active
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                        .swiper-nav
                            .swiper-btn.swiper-left
                                img(src="/Data/Sites/1/media/left.png", alt="")
                            .swiper-btn.swiper-right
                                img(src="/Data/Sites/1/media/right.png", alt="")
                    .content-item(data-content='2')
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                                .swiper-slide
                                    img(src="./img/gioithieu/slider-3.png", alt="")
                        .swiper-nav
                            .swiper-btn.swiper-left
                                img(src="/Data/Sites/1/media/left.png", alt="")
                            .swiper-btn.swiper-right
                                img(src="/Data/Sites/1/media/right.png", alt="")