header
	.top-wrap
		.container
			.main-wrap
				.hethong
					p Hệ thống trường học
					select
						option(value="https://www.facebook.com/") MEGA RESIDENCE - QUẬN 9
						option(value="https://www.facebook.com/") MEGA RESIDENCE - QUẬN 9
						option(value="https://www.facebook.com/") MEGA RESIDENCE - QUẬN 9
				.phone
					em.mdi.mdi-phone
					p Điện thoại: 
						a(href="javascript:void(0)") 028. 625 711 22
				.dangnhap
					em.mdi.mdi-lock-open
					a(href="javascript:void(0)") Đăng nhập
	.bot-wrap
		.container
			.main-wrap
				.logo
					a(href="javascript:void(0)")
						img(src="./img/after-logo.png", alt="")
				.main-list
					ul
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
						li
							a(href="javascript:void(0)") Trang chủ
				.search-main
					.search-icon
						em.fas.fa-search
					.searchbox
						input(type="text" placeholder='Tìm kiếm..')
						button(type='submit')
							em.mdi.mdi-magnify
	.mobile-nav
		.container
			.main-wrap
				.mobile-logo
					a(href="javascript:void(0)")
						img(src="./img/logo.png", alt="")
				.mobile-toggle
					.line-1
					.line-2
					.line-3
					.cross
	.mobile-wrap