header
	div.header-info
		.container
			.desktop-header-1
				a(href="tel:842839979874").phone
					em.mdi.mdi-phone
					span Hotline: 
					strong +84-28 3997 9874
				.Module
					.searchbox
						input.searchinput(type="text", name="", placeholder="Search...")
						button.searchbutton
							em.mdi.mdi-magnify
				.social
					a(href="#")
						em.mdi.mdi-facebook
					a(href="#")
						em.mdi.mdi-youtube
				.language
					a(href="#")
						img(data-src='./img/vn_flag.png', alt='').lazyload.blur-up
	div.header-nav
		.container
			.desktop-header-2
				.logo
					a(href="/")
						img(data-src='./img/logo.png', alt='').lazyload.blur-up
				nav
					a(href="/").active Home
					a(href="/about.html").active About us
					a(href="/business.html") Business field
					a(href="/project.html") Projects
					a(href="/partner.html") Partner
					a(href="/news.html") News
					a(href="/recruitment.html") Recruitment
					a(href="/gallery.html") Gallery
					a(href="/contact.html") Contact us

				.btn-header
					em.mdi.mdi-menu

	.header-mobile
		.logo-mobile
			img(data-src='./img/logo.png', alt='').lazyload.blur-up
	.header-backdrop