header
	section.top-header
		.top-header-wrapper
			.container
				.top-header-menu
					ul.contact-info
						li
							a.service(href="javascript:void(0)") Hệ thống trường học
						.custom-select
							select
								option MEGA RESIDENCE - QUẬN 9
								option MEGA RESIDENCE - QUẬN 9
								option MEGA RESIDENCE - QUẬN 9

						li
							a.mdi.mdi-phone
							a(href="tel:+842862571122")
								span Điện thoại: 
								span 028. 625 711 22
						li
							a.mdi.mdi-lock-open
							a.login(href="javascript:void(0)") Đăng nhập
	section.main-header
		.container
			.main-header-wrapper
				.logo-wrapper
					a(href="index.html")
						img(src="./img/logo.png", alt="logo")
				.main-header-menu
					ul.menu-parent
						li
							a.active(href="index.html") Home
						li
							a(href="about.html") Giới thiệu
						li
							a(href="schedule.html") Chương trình học
						li
							a(href="admission.html") Tuyển sinh
						li
							a(href="news.html") Tin tức
						li
							a(href="recruitment.html") tuyển dụng
						li
							a(href="contact.html") liên hệ
					.search-wrapper
						i.fas.fa-search
						.search-box
							input(type="text", placeholder="Tìm kiếm thông tin")
							button
								span.fas.fa-search
	.backdrop
	.container
		.mobile-header
			.toggle-menu
				span
				span
				span