.teacher.bluesky-section
    .container
        h1.main-title Giáo viên
        .row
            .news-list
                a.active(href="giaovien.html") Tổng quan
                a(href="assembly.html") Hội đồng chuyên môn
                a(href="progress.html") Phát triển chuyên môn
                a(href="tuyendung.html") Tuyển dụng