section.chuongtrinhhoc-3.bluesky-section
    .container
        .sub-title
            h2 Thời khóa biểu
        .tkb-table
            a(href="./img/chuongtrinhhoc/1.png" data-fancybox)
                img(src="./img/chuongtrinhhoc/1.png", alt="")