.dangkythamquan
    .button(data-fancybox data-src='#dangkythamquan' data-modal="true")
        .ic
            em.fas.fa-user-edit
        .text
            p Đăng ký tham quan trường
.modal-wrapper#dangkythamquan
    .heading
        .logo
            img(src="./img/logo.png", alt="")
        .sub-title
            h2 Đăng ký tham quan trường
        .cloud
            img(src="./img/cloud.png", alt="")
        .close-button(data-fancybox-close)
            img(src="./img/close.png", alt="")
    .form-wrap
