section.tuyendung-ct.bluesky-section
    .container
        .row
            .col-lg-8
                .sub-title
                    h2 Giáo Viên Mầm Non
                .fullContent
                    .list-item
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/1.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/2.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/3.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/4.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/5.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                        .item
                            .ic
                                img(src="./img/tuyendung-ct/6.png", alt="")
                            .text
                                p Bảo hiểm theo quy định
                    table
                        tbody
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                            tr
                                td Vị trí tuyển dụng:
                                td Giáo viên mầm non
                    h5 Mô tả công việc
                    ul
                        li Giáo dục và giảng dạy theo chương trình của Bộ Giáo Dục và kế hoạch dạy học của nhà trường
                        li Soạn giáo án, kế hoạch các chủ đề, sổ báo bài theo qui định
                        li Thực hiện đầy đủ các loại hồ sơ, sổ sách theo yêu cầu của nhà trường
                        li Phối hợp tốt với đồng nghiệp để tổ chức các hoạt động cho trẻ đạt hiệu quả
                        li Chịu trách nhiệm chăm sóc học sinh, quản lí học sinh trong, ngoài giờ học và trong các hoạt động giáo dục do nhà trường tổ chức
                        li Phối hợp với bộ phận giáo vụ trong việc thông tin liên lạc với phụ huynh
                        li Tham gia các hoạt động của nhà trường
                    h5 Mô tả công việc
                    ul
                        li Giáo dục và giảng dạy theo chương trình của Bộ Giáo Dục và kế hoạch dạy học của nhà trường
                        li Soạn giáo án, kế hoạch các chủ đề, sổ báo bài theo qui định
                        li Thực hiện đầy đủ các loại hồ sơ, sổ sách theo yêu cầu của nhà trường
                        li Phối hợp tốt với đồng nghiệp để tổ chức các hoạt động cho trẻ đạt hiệu quả
                        li Chịu trách nhiệm chăm sóc học sinh, quản lí học sinh trong, ngoài giờ học và trong các hoạt động giáo dục do nhà trường tổ chức
                        li Phối hợp với bộ phận giáo vụ trong việc thông tin liên lạc với phụ huynh
                        li Tham gia các hoạt động của nhà trường
                    .link
                        a(href="javascript:void(0)").ungtuyen Ứng tuyển ngay
                        p hoặc
                        a(href="javascript:void(0)").mauxinviec Tải mẫu đơn xin việc
                            br
                            span (Nộp trực tiếp)
            .col-lg-4
                .tuyendung-nav
                    .heading
                        h3 Vị trí khác
                    .list
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc
                        a(href="javascript:void(0)") Giáo Viên Thanh Nhạc