.chuongtrinhhoc-1.bluesky-section
    .container
        h2.main-title Chương trình học
        .row
            .col-lg-6
                .main-nav
                    .item(data-tab='1').active Khối nhà trẻ
                    .item(data-tab='2') Khối mầm non
                .main-content
                    .content-item(data-content='1').active
                        .desc
                            p Khối lớp nhà trẻ của Hệ thống trường Mầm non Blue Sky dành cho các bé từ 18 – 36 tháng tuổi. Trong đó, khối lớp nhà trẻ sẽ được chia thành 2 nhóm lớp:
                        .toddler
                            .item
                                figure
                                    .image
                                        img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
                                    figcaption
                                        h5 Toddler 1
                                        p Từ 18 – 24 tháng tuổi
                            .item
                                figure
                                    .image
                                        img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
                                    figcaption
                                        h5 Toddler 2
                                        p Từ 24 – 36 tháng tuổi
                    .content-item(data-content='2')
                        .desc
                            p Khối lớp nhà trẻ của Hệ thống trường Mầm non Blue Sky dành cho các bé từ 18 – 36 tháng tuổi. Trong đó, khối lớp nhà trẻ sẽ được chia thành 2 nhóm lớp:
                        .toddler
                            .item
                                figure
                                    .image
                                        img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
                                    figcaption
                                        h5 Toddler 1
                                        p Từ 18 – 24 tháng tuổi
                            .item
                                figure
                                    .image
                                        img(src="./img/chuongtrinhhoc/item-1.jpg", alt="")
                                    figcaption
                                        h5 Toddler 2
                                        p Từ 24 – 36 tháng tuổi