footer
	section.footer-contact
		.container
			.row
				.col-lg-4
					.contact-us
						h2 Liên hệ
						p Tầng 7, Tòa nhà Pearl Plaza - 561A Điện Biên Phủ,P.25, Q.Bình Thạnh, TP.Hồ Chí Minh
						p Điện thoại: 028.2237 5577
						p Email: info@mamnonbautroixanh.vn
				.col-lg-4
					.logo
						a(href="javascript:void(0)")
							img(src="./img/logo-footer.png", alt="")
					ul.social-icon
						li
							a.mdi.mdi-facebook
						li
							a.mdi.mdi-youtube

				.col-lg-4
					.openning-hours
						h2 Giở mở cửa
						p Thứ 2 - Thứ 6: 7:00AM - 5:30PM
						p Thứ 7: 7:00AM - 12:30PM
	section.footer-info
		.container
			p Copyright © Trường mầm non Song ngữ Bầu Trời Xanh - Blue Sky Kindergarten . Tất cả các quyền đều được bảo hộ. Thiết kế bởi Cánh Cam.
