section.home-7.bluesky-section
    .container
        h2.main-title Hoạt động của bé
        .main-nav
            .item(data-tab='1').active Thư viện ảnh
            .item(data-tab='2') Video Clip
        .main-content
            .content-item.active(data-content='1')
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                a(href="https://www.youtube.com/watch?v=GqQR3n-l2Ew&list=RDGqQR3n-l2Ew&start_radio=1" data-fancybox)
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                        .swiper-slide
                            .item
                                a(href="javascript:void(0)")
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                        .swiper-slide
                            .item
                                a(href="javascript:void(0)")
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                .swiper-nav
                    .swiper-btn.swiper-left
                        img(src="./img/left.png", alt="")
                    .swiper-btn.swiper-right
                        img(src="./img/right.png", alt="")
            .content-item(data-content='2')
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                a(href="https://www.youtube.com/watch?v=GqQR3n-l2Ew&list=RDGqQR3n-l2Ew&start_radio=1" data-fancybox)
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                        .swiper-slide
                            .item
                                a(href="javascript:void(0)")
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                        .swiper-slide
                            .item
                                a(href="javascript:void(0)")
                                    figure
                                        .video
                                            img(src="./img/home/item-3.jpg", alt="")
                                        figcaption
                                            h5 Fashion Show Blue Sky Lexington
                .swiper-nav
                    .swiper-btn.swiper-left
                        img(src="./img/left.png", alt="")
                    .swiper-btn.swiper-right
                        img(src="./img/right.png", alt="")