section.chuongtrinhhoc-4.bluesky-section
    .container
        .sub-title
            h2 Hoạt động ở lớp
        .desc
            p Một số hoạt động của trẻ khi học tại Blue SKy
        .row
            .col-lg-10
                .slide
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/gioithieu/slider-3.png", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-3.png", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-3.png", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-3.png", alt="")
                        .swiper-nav
                            .swiper-btn.swiper-left
                                img(src="/Data/Sites/1/media/left.png", alt="")
                            .swiper-btn.swiper-right
                                img(src="/Data/Sites/1/media/right.png", alt="")