.student.bluesky-section
	.container
		h1.main-title Học sinh
		.row
			.news-list
				a.active(href="hocsinh.html") Tổng quan
				a(href="thanhtichhocsinh.html") Thành tích học sinh
				a(href="studentstory.html") Câu chuyện học sinh
				a(href="thoikhoabieu.html") Thời khóa biểu
		.row.tongquan
			.col-lg-5
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
						.swiper-slide
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
						.swiper-slide
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
				.swiper-pagination
			.col-lg-7
				.Title
					h2 Giá trị cho Học sinh
				.FullContent
					ul
						li Học sinh được hưởng thụ chương trình giáo dục song ngữ với các chứng nhận đạt chuẩn
						li Học sinh nhận được các chứng nhận quốc tế ngay tại trường
						li Nhiều chương trình ngoại khóa và các hoạt động đặc biệt để phát triển các kỹ năng và giá trị sống
						li Các dịch vụ chăm sóc học sinh xuất sắc
						li Cơ sở vật chất hiện đại đạt chuẩn
						li Học tập và chia sẻ với đội ngũ giáo viên chuyên môn cao, nhiệt huyết giàu kinh nghiệm và 
						li môi trường học đường thân thiện.