.student-achievement.bluesky-section
	.container
		h1.main-title Học sinh
		.row
			.news-list
				a.active(href="hocsinh.html") Tổng quan
				a(href="thanhtichhocsinh.html") Thành tích học sinh
				a(href="studentstory.html") Câu chuyện học sinh
				a(href="thoikhoabieu.html") Thời khóa biểu
		.row
			.sub-title
				h2 Thành tích học sinh
				p Danh sách những thành tích quý báu mà những học sinh tại Blue Sky đã nỗ lực hết mình cùng với niềm đam mê để đạt được!
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
							figcaption
								h3 Bé Kha Mỹ Hân
								p Lớp Mầm 2, cơ sở Belleza – Quận 7
								p Huy chương Bạc cuộc thi Bé yêu Toán học
					.swiper-slide
						figure
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
							figcaption
								h3 Bé Kha Mỹ Hân
								p Lớp Mầm 2, cơ sở Belleza – Quận 7
								p Huy chương Bạc cuộc thi Bé yêu Toán học
					.swiper-slide
						figure
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
							figcaption
								h3 Bé Kha Mỹ Hân
								p Lớp Mầm 2, cơ sở Belleza – Quận 7
								p Huy chương Bạc cuộc thi Bé yêu Toán học
					.swiper-slide
						figure
							.boximg
								img(src="./img/tuyensinh/item-1.jpg", alt="")
							figcaption
								h3 Bé Kha Mỹ Hân
								p Lớp Mầm 2, cơ sở Belleza – Quận 7
								p Huy chương Bạc cuộc thi Bé yêu Toán học
				.swiper-buttons
					.btn-prev
						em.mdi.mdi-chevron-left
					.btn-next
						em.mdi.mdi-chevron-right
.other-achievement.bluesky-section
	.container
		.row
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018
			.col-lg-6
				figure
					.boximg
						img(src="./img/hocsinh/kidstory/kid-1.jpg", alt="")
					figcaption
						h3 Bé Phan Ánh Ngọc
						p Lớp mầm 1, cơ sở New City – Quận 2
						p Giải 3 cuộc thi Giọng hát vàng anh 2018