.student-achievement
	padding-bottom: 0
	.sub-title
		margin-bottom: 65px
		p
			@media (min-width: 1025px)
				margin-right: 25%
				margin-left: 25%
	.row
		justify-content: center
	.swiper-slide
		figure
			.boximg
				border: 3px solid #0096d7
				margin: 0 auto
				height: 200px
				width: 200px
				border-radius: 50%
				overflow: hidden
				img
					width: 100%
					height: 100%
					object-fit: cover
			figcaption
				margin-top: 20px
				text-align: center
	.slide
		position: relative
	.swiper-nav
		margin-top: 30px
		display: flex
		justify-content: center
		.swiper-btn
			width: 40px
			height: 40px
			text-align: center
			line-height: 40px
			cursor: pointer
			&:focus
				outline: none
	@media(min-width: 1025px)
		.main-slide
			position: initial
		.swiper-slide
			figure
				position: relative
				margin-top: 125px
				transform: translateY(-50%)
				.boximg
					border: 3px solid #ccc
					height: 150px
					width: 150px
				figcaption
					text-align: center
					position: absolute
					padding-top: 30px
					transform: translateY(40px)
					opacity: 0
					pointer-events: none
					transition: .4s ease-in-out
			&.swiper-slide-active
				figure
					margin-top: 0
					transform: translateY(0)
					.boximg
						border: 3px solid #0096d7
						height: 250px
						width: 250px
						box-shadow: 6px 4px 0 0 rgba(0,0,0,.1)
					figcaption
						transform: translateY(0)
						opacity: 1
						position: relative
						pointer-events: initial
		.swiper-nav
			.swiper-btn
				position: absolute
				top: 125px
				transform: translateY(-50%)
                width: 60px
				img
					transition: .4s ease-in-out all
					filter: invert(70%) sepia(58%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(85%)
					opacity: .5
				&:hover
					img
						filter: initial
						opacity: 1
				&.swiper-left
					left: 0
				&.swiper-right
					right: 0
	@media(min-width: 1200px)
		.swiper-nav
			.swiper-btn
				top: 160px
		.swiper-slide
			figure
				margin-top: 160px
				.boximg
					height: 180px
					width: 180px
			&.swiper-slide-active
				figure
					.boximg
						height: 320px
						width: 320px
.other-achievement
	padding-bottom: 20px
	background-image: url('../img/home/home-bg-5.png')
	background-size: contain
	background-position: center
	.row
		justify-content: flex-start
	figure
		display: flex
		align-items: center
		border-radius: 10px
		border: 1px solid rgb(235, 235, 235)
		overflow: hidden
		margin-bottom: 20px
		.boximg
			height: 125px
			width: 190px
			img
				height: 100%
				width: 100%
				object-fit: cover
		figcaption
			margin-left: 20px
			h3
				color: rgb(51, 51, 51)
				font-size: 16px
			p
				font-size: 14px
				color: rgb(102, 102, 102)