section.home-5.bluesky-section
    .container
        h2.main-title Hệ thống trường học
        .main-wrap
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/1.png", alt="")
                                    .name
                                        h3 Belleza
                                    figcaption
                                        p 
                                            span Blue Sky Belleza 
                                            | ra đời nhằm đáp ứng nhu cầu của nhiều bậc cha mẹ học sinh muốn con mình được hưởng thụ một môi trường giáo dục chất lượng cao và định hướng hội nhập quốc tế. 
                                        ul
                                            li
                                                em.fas.fa-home
                                                | Khu căn hộ Belleza - Đường Phạm Hữu Lầu, Q7
                                            li
                                                em.fas.fa-phone
                                                | (028) 6257 11 22
                    .swiper-slide
                        .item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/1.png", alt="")
                                    .name
                                        h3 Belleza
                                    figcaption
                                        p 
                                            span Blue Sky Belleza 
                                            | ra đời nhằm đáp ứng nhu cầu của nhiều bậc cha mẹ học sinh muốn con mình được hưởng thụ một môi trường giáo dục chất lượng cao và định hướng hội nhập quốc tế. 
                                        ul
                                            li
                                                em.fas.fa-home
                                                | Khu căn hộ Belleza - Đường Phạm Hữu Lầu, Q7
                                            li
                                                em.fas.fa-phone
                                                | (028) 6257 11 22
                    .swiper-slide
                        .item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/1.png", alt="")
                                    .name
                                        h3 Belleza
                                    figcaption
                                        p 
                                            span Blue Sky Belleza 
                                            | ra đời nhằm đáp ứng nhu cầu của nhiều bậc cha mẹ học sinh muốn con mình được hưởng thụ một môi trường giáo dục chất lượng cao và định hướng hội nhập quốc tế. 
                                        ul
                                            li
                                                em.fas.fa-home
                                                | Khu căn hộ Belleza - Đường Phạm Hữu Lầu, Q7
                                            li
                                                em.fas.fa-phone
                                                | (028) 6257 11 22
                    .swiper-slide
                        .item
                            a(href="javascript:void(0)")
                                figure
                                    .image
                                        img(src="./img/home/1.png", alt="")
                                    .name
                                        h3 Belleza
                                    figcaption
                                        p 
                                            span Blue Sky Belleza 
                                            | ra đời nhằm đáp ứng nhu cầu của nhiều bậc cha mẹ học sinh muốn con mình được hưởng thụ một môi trường giáo dục chất lượng cao và định hướng hội nhập quốc tế. 
                                        ul
                                            li
                                                em.fas.fa-home
                                                | Khu căn hộ Belleza - Đường Phạm Hữu Lầu, Q7
                                            li
                                                em.fas.fa-phone
                                                | (028) 6257 11 22
            .swiper-nav
                .swiper-btn.swiper-left
                    img(src="./img/left.png", alt="")
                .swiper-btn.swiper-right
                    img(src="./img/right.png", alt="")