section.chuongtrinhhoc-2.bluesky-section
    .container
        .row
            .col
                .sub-title
                    h2 Chương trình học khối nhà trẻ
        .row
            .col-lg-8
                .desc
                    p Chương trình học của khối lớp Nhà trẻ sẽ được đa dạng hóa với các môn học: Cảm quan, rèn luyện thể chất, nghệ thuật, ngôn ngữ, kỹ năng, kể chuyện, toán học, trò chơi dân gian và các hoạt động vui chơi, dã ngoại ngoài trời giúp các em phát triển toàn diện.
                    p Ngoài ra, Blue Sky còn trang bị Tiếng Anh cho các em thuộc nhóm lớp Toddler 2 (từ 24 – 36 tháng tuổi) để các em được tiếp xúc và giao tiếp ngoại ngữ từ khi còn nhỏ.
        .list-item
            .row
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-1.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-2.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-3.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
            .row
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-4.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-5.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-6.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội
                .col-lg-3.col-md-4.item
                    figure
                        .icon
                            img(src="./img/chuongtrinhhoc/icon-7.png", alt="")
                        figcaption
                            h5 01
                            p Hoàn thiện tính cách, phát triển nhận thức và kỹ năng xã hội