section.gioithieu-1.bluesky-section
    .container
        h2.main-title Giới thiệu
        .main-wrapper
            .row.wrapper
                .col-lg-5.content
                    .sub-title 
                        h3 Công ty cổ phần giáo dục Bầu Trời Xanh
                    .desc
                        p Mầm Non Bầu Trời Xanh (Blue Sky Kindergarten) là thành viên của Công Ty Cổ Phần Giáo Dục Bầu Trời Xanh (Blue Sky Education), một doanh nghiệp chuyên về giáo dục Mầm Non và đang phát triển một chuỗi Trường Mầm Non chất lượng cao tại Việt Nam.
                    .city
                        img(src="./img/gioithieu/bgcity.jpg", alt="")
                .col-lg-7.slide
                    .swiper-container.swiper-1
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                        .swiper-pagination
            .row.wrapper
                .col-lg-6.slide
                    .swiper-container.swiper-2
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                            .swiper-slide
                                img(src="./img/gioithieu/slider-1.jpg", alt="")
                        .swiper-pagination
                .col-lg-6.content
                    .sub-title 
                        h3 Công ty cổ phần giáo dục Bầu Trời Xanh
                    .desc
                        p Hệ thống trường Mầm Non Song ngữ Bầu Trời Xanh _ Blue Sky Kindergarten là một chuỗi hệ thống trường mầm non chất lượng cao hàng đầu Tp. Hồ Chí Minh. Được thành lập và quản lý bởi Công Ty Cổ Phần Giáo Dục Bầu Trời Xanh Blue Sky Education - là một công ty chuyên nghiệp về giáo dục Mầm Non.
                        p Với cơ sở vật chất được đầu tư đồng bộ và hiện đại, chuẩn mầm non; kết hợp chương trình của Bộ GD&ĐT với chương trình IEYC mua bản quyền từ Anh Quốc cùng Phương pháp giáo dục tiên tiến Reggio Emilia tăng sự hấp dẫn, phong phú cho các bé khi theo học tại trường. Bên cạnh đó, còn có các chương trình ngoại khoá, dã ngoại hấp dẫn. Hệ thống trường Mầm Non Song ngữ Bầu Trời Xanh _ Blue Sky Kindergarten cam kết nuôi dạy Bé một cách khoa học nhất, đem lại sự an tâm và hài lòng cho các bậc phụ huynh.