.tuyensinh.bluesky-section
	.container
		h1.main-title Tuyển sinh
		.row
			.col-lg-5
				.boximg
					img(src="./img/tuyensinh/item-1.jpg", alt="")
			.col-lg-7
				.Title
					h2 Giá trị cho Học sinh
				.FullContent
					ul
						li Học sinh được hưởng thụ chương trình giáo dục song ngữ với các chứng nhận đạt chuẩn
						li Học sinh nhận được các chứng nhận quốc tế ngay tại trường
						li Nhiều chương trình ngoại khóa và các hoạt động đặc biệt để phát triển các kỹ năng và giá trị sống
						li Các dịch vụ chăm sóc học sinh xuất sắc
						li Cơ sở vật chất hiện đại đạt chuẩn
						li Học tập và chia sẻ với đội ngũ giáo viên chuyên môn cao, nhiệt huyết giàu kinh nghiệm và 
						li môi trường học đường thân thiện.
		.row
			.col-lg-5
				.boximg
					img(src="./img/tuyensinh/item-1.jpg", alt="")
			.col-lg-7
				.Title
					h2 Giá trị cho Học sinh
				.FullContent
					ul
						li Học sinh được hưởng thụ chương trình giáo dục song ngữ với các chứng nhận đạt chuẩn
						li Học sinh nhận được các chứng nhận quốc tế ngay tại trường
						li Nhiều chương trình ngoại khóa và các hoạt động đặc biệt để phát triển các kỹ năng và giá trị sống
						li Các dịch vụ chăm sóc học sinh xuất sắc
						li Cơ sở vật chất hiện đại đạt chuẩn
						li Học tập và chia sẻ với đội ngũ giáo viên chuyên môn cao, nhiệt huyết giàu kinh nghiệm và 
						li môi trường học đường thân thiện.
		.row
			.col-lg-5
				.boximg
					img(src="./img/tuyensinh/item-1.jpg", alt="")
			.col-lg-7
				.Title
					h2 Giá trị cho Học sinh
				.FullContent
					ul
						li Học sinh được hưởng thụ chương trình giáo dục song ngữ với các chứng nhận đạt chuẩn
						li Học sinh nhận được các chứng nhận quốc tế ngay tại trường
						li Nhiều chương trình ngoại khóa và các hoạt động đặc biệt để phát triển các kỹ năng và giá trị sống
						li Các dịch vụ chăm sóc học sinh xuất sắc
						li Cơ sở vật chất hiện đại đạt chuẩn
						li Học tập và chia sẻ với đội ngũ giáo viên chuyên môn cao, nhiệt huyết giàu kinh nghiệm và 
						li môi trường học đường thân thiện.
.process.bluesky-section
	.container
		h2 Quy trình tuyển sinh
		p Các bậc phụ huynh và các em học sinh đến các cở sở của Blue Sky sẽ trải qua 3 bước tuyển sinh như sau
		.row
			.col-lg-4
				figure
					.boxicon
						a(href="")
							img(src="./img/tuyensinh/icon-1.png", alt="")
					figcaption
							p
								strong Bước 1: 
								| Đăng ký dự tuyển
							a.fa-long-arrow-alt-right(href="") Xem chi tiết
			.col-lg-4
				figure
					.boxicon
						a(href="")
							img(src="./img/tuyensinh/icon-2.png", alt="")
					figcaption
							p
								strong Bước 2: 
								| Kiểm tra kiến thức và năng lực đầu vào
							a.fa-long-arrow-alt-right(href="") Xem chi tiết
			.col-lg-4
				figure
					.boxicon
						a(href="")
							img(src="./img/tuyensinh/icon-3.png", alt="")
					figcaption
							p
								strong Bước 3: 
								| Hoàn tất hồ sơ nhập học
							a.fa-long-arrow-alt-right(href="") Xem chi tiết
.taichinh-formresign.bluesky-section
	.container
		.row
			.col-lg-6
				.article
					h2 Chính sách tài chính
					p Thông tin về học phí và các chi phí khác được trình bày cụ thể giúp phụ huynh dễ dàng theo dõi kế hoạch tài chính khi cho con theo học tại Blue Sky
					a(href="") Xem thêm
			.col-lg-6
				.article
					h2 Đăng ký nhập học
					p Phụ huynh có thể để lại thông tin để được tư vấn hoặc tải bảng đăng ký nhập học chính thức của Blue SKy tại đây
					a(href="") Xem thêm