section.banner
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .image
                    img(src="./img/home/home-bg.png", alt="")
            .swiper-slide
                .image
                    img(src="./img/home/home-bg.png", alt="")